html {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.form {
  background-color: #fff;
}

h1 {
  border-bottom: 2px #000 solid;
}

@media only screen and (min-width: 60em) {

  .padding-right {
    padding-right: .5em;
  }

  .padding-left {
    padding-left: .5em;
  }

}
